
@{
    ViewBag.Title = "Road Map";
}

<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Road Map</h1>
        <p class="lead">Guilherme da Silva Bonfada</p>
    </div>
</div>


<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dhospitaldeclinicas"><span class="glyphicon glyphicon-plus"> </span> 2002</button>
    <div id="dhospitaldeclinicas" class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">Clinicas</a>
            <a class="list-group-item list-group-item-info">Suporte</a>
            <a class="list-group-item list-group-item-action">help Desk</a>
        </div>
    </div>
</div>


<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ddatatraining"><span class="glyphicon glyphicon-plus"> </span> 2005</button>
    <div id="ddatatraining" class="col-4 collapse">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">Data Training</a>
            <a class="list-group-item list-group-item-info">Suporte</a>
            <a class="list-group-item list-group-item-action">Help Desk</a>
            <a class="list-group-item list-group-item-action">Infra Estrutura</a>
            <a class="list-group-item list-group-item-action">Microsoft Access</a>
        </div>
    </div>
</div>


<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Instituto"><span class="glyphicon glyphicon-plus"> </span> 2007</button>
    <div id="Instituto" class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">Instituto Integrar</a>
            <a class="list-group-item list-group-item-action">Aulas de Informática</a>
        </div>
    </div>
</div>


@*<h5> JME Informática</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2008</a>
            <a class="list-group-item list-group-item-info">Suporte</a>
            <a class="list-group-item list-group-item-action">Help Desk</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">Fire Bird</a>
            <a class="list-group-item list-group-item-action">Sql Server</a>
            <a class="list-group-item list-group-item-primary">Programação</a>
            <a class="list-group-item list-group-item-action">Delphi 5 - 7</a>
            <a class="list-group-item list-group-item-action">VB 6</a>
        </div>
    </div>
</div>

<h5>AVACORP</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2013</a>
            <a class="list-group-item list-group-item-primary">Programação</a>
            <a class="list-group-item list-group-item-action">Windev 3</a>
            <a class="list-group-item list-group-item-action">Windows Forms</a>
            <a class="list-group-item list-group-item-action">Visual Studio</a>
            <a class="list-group-item list-group-item-action">C#</a>
            <a class="list-group-item list-group-item-action">Web Service</a>
            <a class="list-group-item list-group-item-action">Windows Service</a>
            <a class="list-group-item list-group-item-action">Controle de versão</a>
            <a class="list-group-item list-group-item-action">Svn</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">Sql Server</a>
            <a class="list-group-item list-group-item-action">Postgre SQL</a>
        </div>
    </div>
</div>

<h5>TRUE</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2014</a>
            <a class="list-group-item list-group-item-primary">Programação</a>
            <a class="list-group-item list-group-item-action">VB.NET</a>
            <a class="list-group-item list-group-item-action">Windows Forms</a>
            <a class="list-group-item list-group-item-action">Windows Service</a>
            <a class="list-group-item list-group-item-action">Thread</a>
            <a class="list-group-item list-group-item-action">Controle de versão</a>
            <a class="list-group-item list-group-item-action">Svn</a>
            <a class="list-group-item list-group-item-action">Share Point</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">SQL Server</a>
        </div>
    </div>
</div>

<h5>STUDIO FISCAL</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2016</a>
            <a class="list-group-item list-group-item-primary">Programação</a>
            <a class="list-group-item list-group-item-action">Delphi - Embarcadeiro</a>
            <a class="list-group-item list-group-item-action">Orientação a objetos</a>
            <a class="list-group-item list-group-item-action">Controle de versão</a>
            <a class="list-group-item list-group-item-action">Svn</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">SQL Server</a>
        </div>
    </div>
</div>

<h5>SALUX</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2017</a>
            <a class="list-group-item list-group-item-primary">Programação</a>
            <a class="list-group-item list-group-item-action">Power Builder</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">SQL Server</a>
        </div>
    </div>
</div>

<h5>DATUM</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2017</a>
            <a class="list-group-item list-group-item-primary">Programação</a>
            <a class="list-group-item list-group-item-action">ASP.NET</a>
            <a class="list-group-item list-group-item-action">Web Forms</a>
            <a class="list-group-item list-group-item-action">Controle de versão</a>
            <a class="list-group-item list-group-item-action">Tfs</a>
            <a class="list-group-item list-group-item-danger">Front End</a>
            <a class="list-group-item list-group-item-action">Java Script</a>
            <a class="list-group-item list-group-item-action">Ajax</a>
            <a class="list-group-item list-group-item-action">Css</a>
            <a class="list-group-item list-group-item-action">bootstrap</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">DB2</a>
            <a class="list-group-item list-group-item-info">Arquitetura</a>
            <a class="list-group-item list-group-item-action">Clean Code</a>
            <a class="list-group-item list-group-item-action">Manifesto Ágil</a>
            <a class="list-group-item list-group-item-action">Uncle Bob</a>
            <a class="list-group-item list-group-item-action">Dave Thomas</a>
            <a class="list-group-item list-group-item-action">Martin Fowler</a>
        </div>
    </div>
</div>

<h5>GX2</h5>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">2019</a>
            <a class="list-group-item list-group-item-action">ASP.NET</a>
            <a class="list-group-item list-group-item-action">MVC</a>
            <a class="list-group-item list-group-item-action">E.F</a>
            <a class="list-group-item list-group-item-action">Controle de versão</a>
            <a class="list-group-item list-group-item-action">GIT</a>
            <a class="list-group-item list-group-item-info">Arquitetura</a>
            <a class="list-group-item list-group-item-action">DDD</a>
            <a class="list-group-item list-group-item-action">Repository</a>
            <a class="list-group-item list-group-item-primary">TDD</a>
            <a class="list-group-item list-group-item-action">Testes Unitários</a>
            <a class="list-group-item list-group-item-action">Testes de Integridade</a>
            <a class="list-group-item list-group-item-danger">Front End</a>
            <a class="list-group-item list-group-item-action">Java Script</a>
            <a class="list-group-item list-group-item-action">Ajax</a>
            <a class="list-group-item list-group-item-action">Css</a>
            <a class="list-group-item list-group-item-action">bootstrap</a>
            <a class="list-group-item list-group-item-success">Banco de Dados</a>
            <a class="list-group-item list-group-item-action">Sql Server</a>
            <a class="list-group-item list-group-item-info">Arquitetura</a>
            <a class="list-group-item list-group-item-action">Design Paterns</a>
            <a class="list-group-item list-group-item-action">Apresentação Clean Code</a>
            <a class="list-group-item list-group-item-action">Apresentação Code Review</a>
        </div>
    </div>
</div>*@