
@{
    ViewBag.Title = "Index";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Road Map Developer</h1>
    <p class="lead">Guilherme Bonfada</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">



        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2007</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Suporte</dt>
                    <dd>help Desk</dd>
                </dl>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2008</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Banco de Dados</dt>
                    <dd>Fire Bird</dd>
                    <dd>Sql Server</dd>
                    <dt>Programação</dt>
                    <dd>Windows Forms</dd>
                    <dd>Delphi 5-7</dd>
                    <dd>Visual SourceSafe</dd>
                    <dd>VB-6</dd>
                </dl>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2013</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Programação</dt>
                    <dd>Windev 3</dd>
                    <dd>Web Service</dd>
                    <dd>Windows Service</dd>
                    <dd>Svn</dd>
                    <dt>Banco de Dados</dt>
                    <dd>Postgre SQL</dd>
                </dl>
            </div>
        </div>




        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2014</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Programação</dt>
                    <dd>VB.NET</dd>
                    <dd>Thread</dd>
                    <dd>Windows Service</dd>
                    <dd>TFS</dd>
                    <dd>Share Point</dd>
                    <dt>Banco de Dados</dt>
                    <dd>Postgre SQL</dd>
                </dl>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2016</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Programação</dt>
                    <dd>Delphi - Embarcadeiro</dd>
                    <dd>Orientação a objetos</dd>
                </dl>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2017</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Programação</dt>
                    <dd>Delphi - Embarcadeiro</dd>
                    <dd>Orientação a objetos</dd>
                </dl>
            </div>
        </div>




        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2019</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
            </div>
        </div>




    </div>
</div>

